@use "sass:map";

//$lizardPalette: (
//  "green": (
//    "ligh"
//  )
//);

$MainCellRowColors: (
  //"background": rgba(255, 54, 0, 0.3),
  "background": #899CFE,
  //"backgroundHover": rgba(255, 126, 0, 0.3)
  "backgroundHover": #52FFD7,
  "timeLabel": white
);

$NestedCellRowColors: (
  "background": #4F5FB3,
  //"background": rgba(255, 54, 0, 0.3),
  "backgroundHover": #A3B3FF,
        "timeLabel": white
  //"backgroundHover": rgba(255, 126, 0, 0.3)
);

%CellRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cellRowMain {
  @extend %CellRow;
  background: map.get($MainCellRowColors, "background");

  .timeLabel {
    color: map.get($MainCellRowColors, "timeLabel");
  }

  &:hover {
    background: map.get($MainCellRowColors, "backgroundHover");

    .timeLabel {
      color: black;
    }
  }
}

.cellRowNested {
  @extend %CellRow;
  background: map.get($NestedCellRowColors, "background");

  .timeLabel {
    color: map.get($MainCellRowColors, "timeLabel");
  }

  &:hover {
    transition: all 0.2s ease-in-out;
    background: map.get($NestedCellRowColors, "backgroundHover");

    .timeLabel {
      color: white;
    }
  }
}
