.App {
    text-align: center;
    color: #666666;
}

.App-header {
    background-color: #16a085;
    color: #ecf0f1;
}
.App-header  h2 {
    line-height: 150px;
    margin: 0;
    font-size: 1.5rem;
}


.week {

}
.day {
    text-align: center;
    display: inline-block;
    width: 12%;
    height: 2em;
    padding: 2em 0;
    border: 1px solid #ccc;
}

.year-selection {
    padding: 2em 0;

}
.year-selection label {
    margin-left: 1em;
    margin-right: 0.25em;

}

footer {
    background: #16a085;
    padding: 2em;
    color: #ffffff;
}
footer a, footer a:visited {
    color: #222222;
}
